* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#option-panel {
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    min-width: 500px;
}

#header {
    padding: 20px 15px;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    background: linear-gradient(red, brown, darkred);
    color: burlywood;
    text-shadow: 5px 5px 5px black;
}

#mechanics-para {
    padding: 25px;
    text-align: justify;
    font-size: 23px;
    color: brown;
    text-shadow: 0 1px 1px black;
}

#mechanics-para p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#board-panel {
    height: 100vh;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chess-board {
    display: flex;
    flex-direction: column;
    height: 40em;
    width: 40em;
    border: 10px solid green;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.grid-row {
    display: flex;
}

.grid-cell {
    flex: 1;
    aspect-ratio: 1/1;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px inset black;
}

.darkcells {
    background-color: rgb(67, 159, 67);
}

.lightcells {
    background-color: lightgoldenrodyellow;
}

.inRangeCells {
    /* background-color: rgb(255, 0, 0, 0.5); */
    background: radial-gradient(pink, rgba(255, 0, 0, 0.8));
    border: 1px inset black;

    font-size: 3em;
    font-weight: bolder;
    color: maroon;
}

.queenIcon {
    width: 90%;
    height: 90%;
}

